<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="container">
      <header>
        <a href="https://waypointproject.io" class="logo">
          <img src="/logo.svg" alt="Logo" />
        </a>
        <a href="https://about.gitlab.com" class="logo">
          <img src="/gitlab-icon-rgb.svg" alt="GitLab Logo" height="75" />
        </a>
      </header>
      <section class="content">
        <div class="language-icon">
          <img src="/language.svg" alt="Node.js Icon" />
        </div>
        <h1>This Node.js app was deployed with Waypoint using GitLab CI/CD.</h1>
        <p>
          Read the
          <a href="https://waypointproject.io/docs">documentation</a> for more
          about Waypoint.
        </p>
        <p>
          Learn more about GitLab CI/CD in our
          <a href="https://docs.gitlab.com/ee/ci/">documentation</a> or check out 
          <a href="https://gitlab.com/brendan-demo/waypoint">the project that deployed this site</a>.
        </p>
      </section>
      <footer>
        <a href="https://hashicorp.com" class="hashi">
          <img src="/hashi.svg" alt="HashiCorp" />
        </a>
      </footer>
    </div>
  </body>
</html>
